p {
  font-size: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.container {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 22%;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  transition-delay: 500;
  box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #ffffff;
}
img {
  width: 86%;
  padding: 7%;
  border-bottom: 1px solid;
}
.card:hover {
  background: #e0e0e0;
  box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #ffffff;
}

@media (max-width: 1250px) {
  .card {
    width: 20%;
  }
}

@media (max-width: 460px) {
  p {
    font-size: 14px;
  }
  .container {
    padding: 20px 0;
  }
  .card {
    width: 44%;
    margin: 2%;
    box-shadow: none;
  }
}
